.contenedor {
  display: flex;
  height: 100vh;
}

.seccion {
  flex: 1;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.izquierda {
  background-color: #FFFFFF;
  font-family: "Roboto";
}

.derecha {
  background-color: #6237DD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.derecha img {
  max-width: 50%;
  height: auto;
}

.contenido {
  text-align: center;
  padding: 20px;
  font-family: "Roboto";
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #4A4543;
}

.text-link {
  color: #808080;
  font-family: "Roboto";
}

.text-link a {
  color: #6237DD;
  text-decoration: none;
  font-family: "Roboto";
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Roboto";
}

.btn-login {
  background-color: #6237DD;
  color: #FFFFFF;
  width: 73.5%;
  padding: 10px 120px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto";
}
